<p>
  Current: {{ (currentAudioZone$ | async ).name }}
</p>

<select
  [(ngModel)]="selectedAudioZone">
  <option
    *ngFor="let audioZone of (audioZones$ | async)"
    [ngValue]="audioZone">
    {{ audioZone.name }}
  </option>
</select>

<div
  *ngIf="(currentTrack$ | async) as currentTrack">
  <h3>Now playing</h3>
  <p>Track: {{ currentTrack.Track.Name }}</p>
  <p
    *ngFor="let artist of currentTrack.Track.Artists">
    Artist: {{ artist.Name }}
  </p>
  <p>
    Album: {{ currentTrack.Track.Album.Name }}
  </p>
</div>

<giphy-image-view>
  
</giphy-image-view>